.Top__container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.Top__left__container {
  background-color: #1b95e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
}

.Top__left__message {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  margin-top: 30px;
}

.Top__left__message__content {
  margin-left: 20px;
}

.Top__right__container {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.Top__right__header__container {
  width: 80%;
  max-width: 500px;
}

.Top__right__header__message {
  font-size: 24px;
  font-weight: 600;
}

.Top__right__nav__message {
  margin-top: 40px;
  font-weight: 700;
}

.Top__right__button {
  width: 100%;
  max-width: 450px;
  margin-top: 20px;
}

.Top__right__button__login:hover {
  background-color: rgb(0, 0, 0, 0.1);
  color: #1b95e0;
}
