.LikeButton {
  cursor: pointer;
  z-index: 999;
  display: flex; 
  margin-bottom: 5px;
}

.LikeButton:hover {
  color: #ff1493;
}

.LikeButton span {
  font-size: 13px;
  padding-top: 10px;
  margin-left: -5px;
}

.LikeIcon {
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LikeButton:hover .LikeIcon {
  background-color: rgb(255, 20, 147, 0.1);
  border-radius: 50%;
}
