.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000000;
}

.modal-content {
  background: white;
  border-radius: 20px;
  height: 280px;
  width: 578px;
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 50px;
}
