.TweetListItem {
  display: flex;
  border-bottom: 1px solid #EFF3F4;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
}

.TweetListItem:hover {
  background-color: #F9F9F9;
}

.TweetListItem__user__icon__wrapper {
  height: 100%;
  width: 40px;
  margin-right: 8px;
  /* background-color: green; */
}

.TweetListItem__content__user__wrapper {
  width: 100%;
}

.TweetListItem__content__wrapper {
  width: 90%;
}

.TweetListItem__content__user__name {
  font-weight: bold;
  color: #0F1419;
  font-size: 15px;
  margin-right: 5px;
}

.TweetListItem__content__user__name:hover {
  text-decoration: underline;
}

.TweetListItem__content__user__displayID, .TweetListItem__content__user__createdAt {
  color: #536471;
  font-size: 15px;
}

.TweetListItem__content__content {
  margin-top: 5px;
}

.TweetListItem__content__interactions {
  display: flex; 
  justify-content: space-between;
  color: #536471;
  width: 50%;
}
