.TweetDetail__tweet {
  border: 1px solid #eff3f4;
  padding: 16px; 
}

.TweetDetail__user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.TweetDetail__user__info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.TweetDetail__user__name {
  font-weight: bold;
  color: #0f1419;
  font-size: 15px;
}

.TweetDetail__user__displayID {
  color: #536471;
  font-size: 15px;
}

.TweetDetail__date {
  color: #536471;
  font-size: 15px;
  margin-top: 10px;
}

.TweetDetail__interactions__wrapper {
  margin-top: 10px;
  color: #536471;
  border-top: 1px solid #eff3f4;
  border-bottom: 1px solid #eff3f4;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 10px;
}

.TweetDetail__interactions {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 10px;
}

.TweetDetail__reply {
  height: 68px;
  display: flex;
  align-items: center;
  position: relative;
}

.TweetDetail__reply__caption {
  font-size: 20px;
  margin-left: 10px;
  color: #536471;
}

.TweetDetail__reply__button {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
