.UserListItem {
  display: flex;
  padding: 12px 16px;
  border-bottom: 1px solid rgb(225, 232, 237)
}

.UserListItem:hover {
  background-color: #F9F9F9;
}

.UserListItem__icon {
  margin-right: 8px;
}

.UserListItem__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%
}

.UserListItem__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.UserListItem__info__name__name {
  font-size: 15px;
  font-weight: 600;
}

.UserListItem__info__name__display-id {
  font-size: 15px;
  color: rgb(101, 119, 134);
}

.UserListItem__info__follow {
  float: right;
}
