.Button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.Button:hover {
  background-color: var(--secondary-color);
}
