.Sidebar {
  display: flex;
  flex-direction: column;
  width: 68px;
  align-items: center;
  position: sticky;
  top: 0;
  height: 100vh;
}

.Sidebar__icon {
  cursor: pointer;
  padding: 12px;
  scale: 1.7;
}
