.TweetForm {
  display: flex;
  border-bottom: 1px solid #EFF3F4;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  min-height: 120px;
}

.TweetForm__user {
  height: 100%;
  width: 40px;
  margin-right: 8px;
}

.TweetForm__form {
  width: 90%;
}

.TweetForm__form__input {
  width: 100%;
  border: none;
  font-size: 20px;
  resize: none;
  padding: 12px 0;
}

.TweetForm__form__input:focus {
  outline: none;
  background-color: white;
}

.TweetForm__form__border {
  margin-top: 16px;
  border: none;
  border-bottom: 1px solid #EFF3F4;
  width: 100%;
  margin-bottom: 12px;
}

.TweetForm__form__button {
  border-radius: 50px;
  cursor: pointer;
  float: right;
}
