.RetweetItem {
  border: 1px solid #d4dadb;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  /* background-color: green; */
}

.RetweetItem:hover {
  background-color: #F0F0F0;
}

.RetweetItem__user__wrapper {
  display: flex;
  margin-right: 8px;
  width: 100%;
}

.RetweetItem__user__name {
  font-weight: bold;
  color: #0F1419;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

.RetweetItem__user__displayID, .RetweetItem__user__createdAt {
  color: #536471;
  font-size: 15px;
}

.RetweetItem__content__text {
  color: #0F1419;
  font-size: 15px;
  margin-top: 5px;
}

.RetweetItem__content__interactions {
  display: flex; 
  justify-content: space-between;
  margin-top: 10px;
  color: #536471;
  width: 50%;
}

.RetweetItem__content__interactions span {
  margin-left: 5px;
  font-size: 13px;
}

.RetweetItem__content {
  margin: 5px 0;
}
