.Tabbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid #EFF3F4;
  border-right: 1px solid #EFF3F4;
  border-left: 1px solid #EFF3F4;
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 99999;
}

.Tabbar__tab {
  height: 100%;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #657786;
  position: relative;
}

.Tabbar__tab:hover {
  background-color: rgb(15, 20, 25, 0.1);
}

.Tabbar__tab__title {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tabbar__tab__title.active {
  font-weight: bold;
  color: black;
}

.Tabbar__tab__border {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}

.Tabbar__tab__border.active {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #1DA1F2;
}
